
.btn_social { 
    width:100%; 
    float:left; 
    display:flex; 
    margin:auto; 
   }
   .btn_social ul  { 
    width:auto; 
    margin:auto; 
    float:left; 
    display:block; 
   }
   .btn_social ul li  { 
    position:relative; 
    background: white; 
    list-style:none; 
    float:left; 
    margin:5px; 
    z-index:1; 
    overflow:hidden; 
    border-radius:3px; 
    font-size:1.5em; 
    text-align:center; 
   }
   .btn_social ul li a  { 
    width:50px; 
    height:50px; 
    line-height:53px; 
    display:block; 
    text-decoration:none; 
    color:#fff; 
    transition:.4s;
   }
   .btn_social ul li::before { 
    transition:0.4s; 
    position:absolute; 
    content:''; 
    width:100%; 
    height:100%; 
    top:90%; 
    left:0; 
    background:#ff5733; 
    z-index:-1; 
    transform: scale(1); 
    transition:.4s; 
   }
   .btn_social ul li:hover::before { transition:0.4s; top:0%; }
   .btn_social ul li a:hover       { color:#555555; }

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/*cor letra logo*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
/*cor fundo da logo*/
header {
    background-color: burlywood;
    color: white;
    padding: 20px;
    text-align: center;
}

.content {
    padding: 20px;
}
/*cor do footer*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav a {

    color: whitesmoke;
    margin: 0 15px;
    text-decoration: none;
}
nav{
    background-color: #333;
    padding: 5px;
    
    display: flex;
    justify-content: space-around;
}
.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav {
    display: flex;
    justify-content: space-around;
}
.menu li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    display: inline-block;
    transition: color 0.3s ease;
}

.menu a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.menu a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.menu a:hover {
    color: #ff5733;
}
